body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin-top: 7em;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

a {
  padding-top: 2em;
  text-decoration: none;
}